.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #eaeaea;
}

.link {
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.homeLink {
  padding: 0.5rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}